@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  button {
    cursor: pointer;
  }

  input[type='checkbox'] {
    opacity: 0;
    cursor: pointer;
  }
}

@theme {
  --color-*: initial;
  --color-bg: #eef5ff;
  --color-border-color: #d6d9e6;
  --color-denim: #022959;
  --color-grey: #9699aa;
  --color-light-blue: #abbcf5;
  --color-light-grey: #f8f9ff;
  --color-orange: #ffaf7e;
  --color-pink: #f9818e;
  --color-purple: #483eff;
  --color-red-errors: #ee374a;
  --color-sky-blue: #b4e2fd;
  --color-very-light-grey: #f8f9ff;
  --color-white: #ffffff;
}

@layer utilities {
  .font-heading {
    font-size: 32px;
  }

  .font-body-xl {
    font-size: 20px;
  }

  .font-body-l {
    font-size: 16px;
  }

  .font-body-m {
    font-size: 14px;
  }

  .font-body-s {
    font-size: 12px;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-ubuntu);
  font-size: 14px;
}
